In [1]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
from scipy import stats

In [12]:
# Read the CSV file
df = pd.read_csv('D:/Desktop/ROAA -- stock price.csv')

In [13]:
df

     Season  Return on Average Assets (ROAA)        Price
0   S1/2007                             4.62  24565.90000
1   S2/2007                             5.88  19051.86667
2   S3/2007                             2.29  15103.10000
3   S4/2007                             5.97  15006.63333
4   S1/2008                             3.15   8885.23333
..      ...                              ...          ...
62  S3/2022                             2.61  83213.43333
63  S4/2022                             2.53  75700.00000
64  S1/2023                             2.92  81033.33333
65  S2/2023                             2.71  82533.33333
66  S3/2023                             2.84  91700.00000

[67 rows x 3 columns]

In [14]:
Y = df['Return on Average Assets (ROAA)']

In [15]:
Y

0     4.62
1     5.88
2     2.29
3     5.97
4     3.15
      ...
62    2.61
63    2.53
64    2.92
65    2.71
66    2.84
Name: Return on Average Assets (ROAA), Length: 67, dtype: float64

In [16]:
# Add a constant term for intercept
X = sm.add_constant(df['Price'])

In [17]:
X

    const        Price
0     1.0  24565.90000
1     1.0  19051.86667
2     1.0  15103.10000
3     1.0  15006.63333
4     1.0   8885.23333
..    ...          ...
62    1.0  83213.43333
63    1.0  75700.00000
64    1.0  81033.33333
65    1.0  82533.33333
66    1.0  91700.00000

[67 rows x 2 columns]

In [18]:
# Fit the multiple regression model
model = sm.OLS(Y, X).fit()

# Print the summary of the regression results
print(model.summary())

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     Return on Average Assets (ROAA)   R-squared:                       0.016
Model:                                         OLS   Adj. R-squared:                  0.000
Method:                              Least Squares   F-statistic:                     1.028
Date:                             Fri, 17 Nov 2023   Prob (F-statistic):              0.314
Time:                                     15:01:51   Log-Likelihood:                -93.695
No. Observations:                               67   AIC:                             191.4
Df Residuals:                                   65   BIC:                             195.8
Df Model:                                        1
Covariance Type:                         nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.8538      0.172     16.546      0.000       2.509       3.198
Price      -4.944e-06   4.88e-06     -1.014      0.314   -1.47e-05    4.79e-06
==============================================================================
Omnibus:                       23.938   Durbin-Watson:                   1.444
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.332
Skew:                           1.325   Prob(JB):                     4.74e-09
Kurtosis:                       5.589   Cond. No.                     5.02e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.