In [1]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Read the CSV file
df = pd.read_csv('D:/Desktop/ROAA -- FL -- GDP.csv')

In [3]:
df

,Period,Return on Average Assets (ROAA),GDP Growth,Exchange rate,Current ratio (short term),Finace leverage (Debt ratio)
0,2004,22.08,7.536411,15746.00000,1.35,81.11
1,2005,14.75,7.547248,15858.91667,1.36,72.45
2,2006,16.00,6.977955,15994.25000,1.90,51.23
3,2007,16.83,7.129504,16105.12500,1.42,58.46
4,2008,14.57,5.661771,16302.25000,1.47,51.68
5,2009,12.87,5.397898,17065.08333,1.61,64.23
6,2010,11.14,6.423238,18612.91667,1.63,58.97
7,2011,12.34,6.413178,20509.75000,1.34,58.34
8,2012,10.57,5.504546,20828.00000,1.50,50.07
9,2013,10.12,5.553500,20933.41667,1.42,53.02
10,2014,8.11,6.422247,21148.00000,1.30,59.14
11,2015,7.93,6.987167,21697.56750,1.27,60.91
12,2016,7.12,6.690009,21935.00083,1.26,61.63
13,2017,10.69,6.940188,22370.08667,1.45,47.05
14,2018,9.57,7.464991,22602.05000,1.27,50.35
15,2019,9.93,7.359281,23050.24167,1.18,49.69
16,2020,9.42,2.865412,23208.36833,1.15,55.42
17,2021,9.09,2.561551,23159.78259,1.18,60.11
18,2022,10.08,8.019798,23271.21250,1.26,50.91

In [4]:
X1 = df['GDP Growth']
X2 = df['Exchange rate']

Y = df['Return on Average Assets (ROAA)']

In [5]:
X1

0     7.536411
1     7.547248
2     6.977955
3     7.129504
4     5.661771
5     5.397898
6     6.423238
7     6.413178
8     5.504546
9     5.553500
10    6.422247
11    6.987167
12    6.690009
13    6.940188
14    7.464991
15    7.359281
16    2.865412
17    2.561551
18    8.019798
Name: GDP Growth, dtype: float64

In [6]:
X2

0     15746.00000
1     15858.91667
2     15994.25000
3     16105.12500
4     16302.25000
5     17065.08333
6     18612.91667
7     20509.75000
8     20828.00000
9     20933.41667
10    21148.00000
11    21697.56750
12    21935.00083
13    22370.08667
14    22602.05000
15    23050.24167
16    23208.36833
17    23159.78259
18    23271.21250
Name: Exchange rate, dtype: float64

In [7]:
Y

0     22.08
1     14.75
2     16.00
3     16.83
4     14.57
5     12.87
6     11.14
7     12.34
8     10.57
9     10.12
10     8.11
11     7.93
12     7.12
13    10.69
14     9.57
15     9.93
16     9.42
17     9.09
18    10.08
Name: Return on Average Assets (ROAA), dtype: float64

In [8]:
# Add a constant term for intercept
X = sm.add_constant(df[['GDP Growth', 'Exchange rate']])

In [9]:
X

    const  GDP Growth  Exchange rate
0     1.0    7.536411    15746.00000
1     1.0    7.547248    15858.91667
2     1.0    6.977955    15994.25000
3     1.0    7.129504    16105.12500
4     1.0    5.661771    16302.25000
5     1.0    5.397898    17065.08333
6     1.0    6.423238    18612.91667
7     1.0    6.413178    20509.75000
8     1.0    5.504546    20828.00000
9     1.0    5.553500    20933.41667
10    1.0    6.422247    21148.00000
11    1.0    6.987167    21697.56750
12    1.0    6.690009    21935.00083
13    1.0    6.940188    22370.08667
14    1.0    7.464991    22602.05000
15    1.0    7.359281    23050.24167
16    1.0    2.865412    23208.36833
17    1.0    2.561551    23159.78259
18    1.0    8.019798    23271.21250

In [10]:
# Fit the multiple regression model
model = sm.OLS(Y, X).fit()

# Print the summary of the regression results
print(model.summary())

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     Return on Average Assets (ROAA)   R-squared:                       0.706
Model:                                         OLS   Adj. R-squared:                  0.669
Method:                              Least Squares   F-statistic:                     19.21
Date:                             Thu, 16 Nov 2023   Prob (F-statistic):           5.59e-05
Time:                                     23:03:15   Log-Likelihood:                -39.710
No. Observations:                               19   AIC:                             85.42
Df Residuals:                                   16   BIC:                             88.25
Df Model:                                        2
Covariance Type:                         nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            31.4550      4.704      6.687      0.000      21.483      41.427
GDP Growth        0.1794      0.354      0.507      0.619      -0.571       0.930
Exchange rate    -0.0010      0.000     -5.830      0.000      -0.001      -0.001
==============================================================================
Omnibus:                        6.643   Durbin-Watson:                   1.278
Prob(Omnibus):                  0.036   Jarque-Bera (JB):                3.983
Skew:                           0.914   Prob(JB):                        0.137
Kurtosis:                       4.301   Cond. No.                     1.95e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.95e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

E:\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "